<!doctype html>
<html lang="en">

{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Education ChatBot</title>
    <link rel="stylesheet" href="{% static 'styles/home-style.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
    <!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Education ChatBot</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav> -->

    <div class="container">
        <div class="chat">
            <div class="text-center my-5">
                <h2>Greetings @{{ user.username }}! How can I assist you today?</h2>
            </div>


            <div class="form-floating">
                <form method="POST" id="prompt-form">
                    {% csrf_token %}

                    <div class="input-group flex-nowrap">
                        <input type="text" name='prompt' class="form-control" placeholder="Prompt">
                        <button id='submit-btn' type="submit" class="btn btn-dark">Send</button>
                    </div>
                </form>
            </div>

            <br>
            <br>

            <div class="feed">
                <p>
                    {% for ans in data %}
                    <span><b>Question:</b> {{ ans.0 }}</span><br>
                    <span><b>Answer:</b> {{ ans.1 }}</span><br><br>
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>

</html>