<!doctype html>
<html lang="en">

{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Education ChatBot</title>
    <link rel="stylesheet" href="{% static 'styles/home-style.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="chat">
            <div class="text-center my-5">
                <h2>Greetings @{{ user.username }}! How can I assist you today?</h2>
            </div>


            <div class="form-floating">
                <form method="POST" id="prompt-form">
                    {% csrf_token %}

                    <div class="input-group flex-nowrap">
                        <input type="text" name='prompt' class="form-control" placeholder="Prompt">
                        <button id='submit-btn' type="submit" class="btn btn-dark">Send</button>
                    </div>
                </form>
            </div>

            <div class="feed mt-5">
                <p>
                    {% for content in data %}
                    <span><b>Question:</b> {{ content.prompt }}</span><br>
                    <span id="speak-text"><b>Answer:</b> {{ content.output }}</span>
                    <span><a class="text-white" href="{{ content.img }}">Get Link</a></span><br><br>
                    {% endfor %}
                </p>
            </div>
        </div>


        <div class="col-12 col-sm my-5">
            <div class="h-100 d-flex align-items-end justify-content-end py-3 my-5">
                <button type="submit" id="speak-button" class="btn btn-dark">Speak</button>
            </div>
        </div>

    </div>

    <script src="{% static 'js/script.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>

</html>