.feed {
    overflow-y: scroll;
    max-height: 600px;
}

.container {
    color: white;
}

body {
    background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
    font-family: "Poppins", sans-serif;
    width: 100%;
    min-height: 100%;
}
